{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJSK2F25');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ site_settings.meta_title|default:site_settings.company_name }}</title>
    <meta name="description" content="{{ site_settings.meta_description }}">
    <meta property="og:title" content="{{ site_settings.meta_title|default:site_settings.company_name }}">
    <meta property="og:description" content="{{ site_settings.meta_description }}">
    <meta property="og:type" content="website">
    {% if site_settings.og_image %}<meta property="og:image" content="{{ site_settings.og_image.url }}">{% endif %}
    {% if site_settings.favicon %}
    <link rel="icon" type="image/svg+xml" href="{{ site_settings.favicon.url }}">
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/sections.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/perspectives.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-float.css' %}">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJSK2F25"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block content %}{% endblock %}

    <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
    <script src="{% static 'js/htmx-config.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/animations.js' %}" defer></script>
    <script src="{% static 'js/carousel.js' %}" defer></script>
    <script src="{% static 'js/gallery.js' %}" defer></script>
    <script src="{% static 'js/counters.js' %}" defer></script>
</body>
</html>
